body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center; 
    margin: 0;
    background-color: #f5f5f5;
  }
  
  .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #result {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  #result p {
    margin: 0 0 10px;
  }
  
  #result.visible {
    opacity: 1;
  }